html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    width: 99%; 
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    width: 50px;  
    height: auto; 
    margin-right: 10px; 
}

.nombre-tienda {
    color: white;
    margin: 0; 
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-lateral {
    width: 200px;
    background-color: #444;
    padding: 15px;
    position: fixed;
    top: 60px;
    left: -220px;
    transition: left 0.3s ease;
}

.menu-lateral.active {
    left: 0; 
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

h1 {
    text-align: center;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.producto img {
    width: 200px;
    height: 300px;
    object-fit: cover; 
    border-radius: 5px; 
}

.producto p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer .footer-links {
    list-style-type: none;
    padding: 0;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer p {
    color: white;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: 100%;
    max-width: 400px; 
}

input:focus {
    background-color: brown;
    color: white; 
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1;
}

.form-row input[type="text"],
.form-row input[type="date"] {
    flex: 2;
    margin-left: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
